body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: "Exo 2", sans-serif;
}

/* Index */

#LogoHeader {
    width: 20%;
    transform: translateX(7%);
    margin-top: 1%;
}

header {
    border-bottom: 3px solid #f2f2f2;
}

#OrderButton, #SupportButton, #InfoButton {
    position: relative;
    bottom: 1.5ch;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#OrderButton:hover, #SupportButton:hover, #InfoButton:hover {
    background-color: #1a1a1a;
    color: #f2f2f2;
}

.scrolling-text {
    overflow: hidden;
    border-bottom: 3px solid #f2f2f2;
}

.scrolling-text p {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: "Exo 2", sans-serif;
}

/* Information */

.Bio {
    width: 1200px;
    background-color: #f2f2f2;
    color: #1a1a1a;
    border: 1px;
    border-radius: 20px;
}

.Bio_content {
    position: relative; left: 20px;
}